@use 'variables' as var;
@use 'mixin' as mix;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    // @include mix.displaySetting(flex, center, column, "", 16px, "");
    @include mix.color("", var.$color-background);
    text-align: center;
    padding: 0 var.$global-padding;
    header {
        
        h1 {
            text-align: center;
            @include mix.color(var.$color-orange, "")
        }
        #navBar {
            border: 1px solid black;
            @include mix.dimensions(100%, "");
            background-color: var.$color-orange;
            border-radius: 4px;
            padding: 16px 0;
            margin: 16px 0;

            #divSearchBar {
                padding: 1rem 0;
                #searchString {
                    border-radius: 4px;
                    @include mix.dimensions(30vw, "");
                    @include mix.text(1.25rem, 500, left);
                    padding: 4px;
                }
                #sortBy {
                    border-radius: 4px;
                    @include mix.text(1.25rem, 500, left);
                    padding: 4px
                }
            }

            #divFilterCategories {
                @include mix.displaySetting(flex, center, row, center, 16px, wrap);
                @include mix.color(white, "");
                
                button {
                    @include mix.dimensions("", min-content);
                    @include mix.color(white, var.$color-orange);
                    border: 1px solid white;
                    border-radius: 8px;
                    padding: 8px 16px;

                }

            }
        }
    }

    main {

        #sectionArticle {
            @include mix.displaySetting(flex, center, row, flex-start, var.$div-gap, wrap);

            .divProduct {

                @include mix.displaySetting(flex, space-between, column, center, "", "");
                min-width: 360px;
                min-height: 560px;
                @include mix.dimensions(var.$div-width, "");
                @include mix.color("", white);
                border: none;
                box-shadow: 0 0 16px 0 black;
                padding: 8px 32px;

                .imgContainer {

                    @include mix.dimensions("", 80%);
                    text-align: center;
                    .divImg {

                        @include mix.dimensions("", 250px);
                        max-width: 100%;
                        // margin-bottom: 8px;
                        // overflow-clip-margin: content-box;
                        // overflow: clip;
                    }
                }
                .pProductDescription {
                    @include mix.text(1.5rem, bold, left);
                    min-height: 88px;
                    @include mix.dimensions("", auto);
                    padding: 16px 0;
                }
                hr {
                    margin: 1px;
                    border: 1px solid grey;
                    width: 100%;
                    background-color: grey;
                }
                .divProductFooter {

                    @include mix.displaySetting(flex, space-between, row, center, "", wrap);
                    @include mix.dimensions(100%, "");
                    .pFooterPrice {
                        @include mix.color(var.$color-green, "");
                        @include mix.text(2rem, bold, "")
                    }
                    .divProductButton {
                        @include mix.color(white, var.$color-orange);
                        @include mix.text(1.25rem, 500, center);
                        border: none;
                        padding: 8px 16px;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}