$global-padding: 64px;
$div-width: calc((100% - $global-padding * 2) / 3);
$div-gap: 16px;

$color-orange: rgb(238,121,99);
$color-background: rgb(245,245,245);
$color-green: rgb(107,197,108);
$color-blue: rgba(9,9,121,1);
$color-gold: rgba(255, 215, 0, 1);
